<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f5f5f5;
      margin: 10px;
      margin-bottom : 20px;
    }

    h3 {
      text-align: center;
      color: #333;
    }

    
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    th, td {
      padding: 12px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #f8f8f8;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  </style>
</head>

<body>
  <div class="container">
    <h3>Assignment Details</h3>

    <table>
      <tr>
        <th>Course Name</th>
        <th>Assignment</th>
        <th>Status</th>
        <th>Due Date</th>
        <th>Grade</th>
        <th>Checked By</th>
      </tr>
      {{#assignments}}
      <tr>
        <td>{{course_name}}</td>
        <td>{{assignment_name}}</td>
        <td>{{submission_status}}</td>
        <td>{{due_date}}</td>
        <td>{{grade}}</td>
        <td>{{teacher_name}}</td>
      </tr>
      {{/assignments}}
    </table>
  </div>
</body>

</html>
